3_Instalacion/3_1_Archivos_Configuracion/Flow_Planta.json
[{"id":"b9efcc25.00fda","type":"tab","label":"Planta","disabled":false,"info":""},{"id":"c3b974a1.dc1c78","type":"function","z":"b9efcc25.00fda","name":"Parametros Entrada","func":"msg.payload = \n{ \"Oper0\": global.get('SP'), \n  \"Oper1\": global.get('var1'), \n  \"Oper2\": global.get('U_1'), \n  \"Oper3\": global.get('U_2'), \n  \"Oper4\": global.get('NV_1'),\n  \"Oper5\": global.get('NV_2'), \n  \"Oper6\": global.get('CMD_On'),\n  \"Oper7\": global.get('CMD_PID_On'), \n  \"Oper8\": global.get('E_1'), \n  \"Oper9\": global.get('I_1'),\n  \"Oper10\": global.get('Kp'), \n  \"Oper11\": global.get('Ti'), \n  \"Oper12\": global.get('Td'), \n  \"Oper13\": 3.0, \n  \"Oper14\": 4.0, \n  \"Oper15\": 0.2, \n  \"Oper16\": 1.0, \n  \"Oper17\": 2.0, \n  \"Oper18\": 3.0, \n  \"Oper19\": 4.0,\n  \"Oper20\": 0.1, \n  \"Oper21\": 1.1, \n  \"Oper22\": 2.0, \n  \"Oper23\": 3.4, \n  \"Oper24\": 4.6, \n  \"Oper25\": 0.2, \n  \"Oper26\": 1.3, \n  \"Oper27\": 2.2, \n  \"Oper28\": 3.2, \n  \"Oper29\": 4.3,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":120,"wires":[["594d3dc7.4f5eb4"]]},{"id":"c8785d5.e4e46a","type":"exec","z":"b9efcc25.00fda","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":120,"wires":[["37863daf.2a5622","e9cb7da1.fe0cd"],[],[]]},{"id":"f7f4ead7.344028","type":"function","z":"b9efcc25.00fda","name":"Planta Emulada","func":"var cmd=\"python /home/pi/.node-red/cfg/Planta.py \" + msg.payload\n\nmsg.payload = cmd;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":120,"wires":[["c8785d5.e4e46a"]]},{"id":"8ebe6697.96a448","type":"inject","z":"b9efcc25.00fda","name":"Main","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":210,"y":120,"wires":[["c3b974a1.dc1c78"]]},{"id":"594d3dc7.4f5eb4","type":"function","z":"b9efcc25.00fda","name":"String Para CMD","func":"var In= msg.payload.Oper0 + \" \" + msg.payload.Oper1 +\" \" + msg.payload.Oper2 + \" \" + msg.payload.Oper3 + \" \" + msg.payload.Oper4 +\" \" + msg.payload.Oper5 + \" \" + msg.payload.Oper6 + \" \" + msg.payload.Oper7 +\" \" + msg.payload.Oper8 + \" \" + msg.payload.Oper9 + \" \" + msg.payload.Oper10 +\" \" + msg.payload.Oper11 + \" \" + msg.payload.Oper12 + \" \" + msg.payload.Oper13 +\" \" + msg.payload.Oper14 + \" \" + msg.payload.Oper15 + \" \" + msg.payload.Oper16 +\" \" + msg.payload.Oper17 + \" \" + msg.payload.Oper18 + \" \" + msg.payload.Oper19 +\" \" + msg.payload.Oper20 + \" \" + msg.payload.Oper21 + \" \" + msg.payload.Oper22 +\" \" + msg.payload.Oper23 + \" \" + msg.payload.Oper24 + \" \" + msg.payload.Oper25 +\" \" + msg.payload.Oper26 + \" \" + msg.payload.Oper27 + \" \" + msg.payload.Oper28 +\" \" + msg.payload.Oper29;\n\nmsg.payload = In;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":120,"wires":[["f7f4ead7.344028"]]},{"id":"37863daf.2a5622","type":"json","z":"b9efcc25.00fda","name":"","property":"payload","action":"obj","pretty":false,"x":1130,"y":120,"wires":[["ab88ccfb.63e2e","73b670f7.56736","d778cde5.79c6d","394c8273.4d54de","b775f604.927808"]]},{"id":"ab88ccfb.63e2e","type":"function","z":"b9efcc25.00fda","name":"HMI: PV","func":"msg.payload=msg.payload.PV\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":120,"wires":[["9c4de26e.94f7b","d9db1856.e51eb8","8ee9f594.5d9c78","5769e614.3896a8"]]},{"id":"73b670f7.56736","type":"function","z":"b9efcc25.00fda","name":"HMI: Freq","func":"msg.payload=msg.payload.Freq\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":300,"wires":[["81962561.0e5ee8","f95470a9.1057a"]]},{"id":"745e5cfa.b7c694","type":"function","z":"b9efcc25.00fda","name":"HMI: SP","func":"var sp=msg.payload;\nglobal.set('SP',sp);\nmsg.payload=global.get('SP')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":340,"wires":[[]]},{"id":"11767b2f.a8e9d5","type":"function","z":"b9efcc25.00fda","name":"HMI: Kp","func":"var kp=parseFloat(msg.payload);\nglobal.set('Kp',kp);\nmsg.payload=global.get('kp')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":400,"wires":[[]]},{"id":"3e817e0b.a50552","type":"function","z":"b9efcc25.00fda","name":"HMI: Ti","func":"var Ti=msg.payload;\nglobal.set('Ti',Ti);\nmsg.payload=global.get('Ti')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":460,"wires":[[]]},{"id":"2d5f71c5.d4013e","type":"function","z":"b9efcc25.00fda","name":"HMI: Td","func":"var Td=msg.payload;\nglobal.set('Td',Td);\nmsg.payload=global.get('Td')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":520,"wires":[[]]},{"id":"e098cb90.46a078","type":"function","z":"b9efcc25.00fda","name":"HMI: CMD Marcha","func":"var CMD_On=msg.payload;\nglobal.set('CMD_On',CMD_On);\nmsg.payload=global.get('CMD_On')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":580,"wires":[[]]},{"id":"d778cde5.79c6d","type":"function","z":"b9efcc25.00fda","name":"Mem. Instantes ant","func":"global.set('U_1',msg.payload.U_1);\nglobal.set('U_2',msg.payload.U_2);\nglobal.set('NV_1',msg.payload.NV_1);\nglobal.set('NV_2',msg.payload.NV_2);\nglobal.set('E_1',msg.payload.E_1);\nglobal.set('I_1',msg.payload.I_1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":340,"wires":[[]]},{"id":"5235ebc5.cb6304","type":"function","z":"b9efcc25.00fda","name":"Mem. Instantes ant","func":"global.set('var1',0)\nglobal.set('U_1',0);\nglobal.set('U_2',0);\nglobal.set('NV_1',0);\nglobal.set('NV_2',0);\nglobal.set('E_1',0);\nglobal.set('I_1',0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":240,"wires":[[]]},{"id":"d87120c4.74f97","type":"inject","z":"b9efcc25.00fda","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["5235ebc5.cb6304"]]},{"id":"af3d58f1.fa0578","type":"function","z":"b9efcc25.00fda","name":"HMI: CMD Marcha","func":"var CMD_PID_On=msg.payload;\nglobal.set('CMD_PID_On',CMD_PID_On);\nmsg.payload=global.get('CMD_PID_On')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":640,"wires":[[]]},{"id":"394c8273.4d54de","type":"function","z":"b9efcc25.00fda","name":"HMI: E","func":"msg.payload=msg.payload.E\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":160,"wires":[["b2e62391.8d116"]]},{"id":"6bd4182f.2d36a8","type":"ui_switch","z":"b9efcc25.00fda","name":"","label":"CMD: On","tooltip":"","group":"c45a83a3.d00908","order":22,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":440,"y":580,"wires":[["e098cb90.46a078"]]},{"id":"a6298aa.fcb1d78","type":"ui_switch","z":"b9efcc25.00fda","name":"","label":"CMD: PID On","tooltip":"","group":"c45a83a3.d00908","order":23,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":460,"y":640,"wires":[["af3d58f1.fa0578"]]},{"id":"4919e6ae.5821a8","type":"ui_numeric","z":"b9efcc25.00fda","name":"SP","label":"HMI: SP","tooltip":"","group":"c45a83a3.d00908","order":18,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":"1","x":430,"y":340,"wires":[["745e5cfa.b7c694"]]},{"id":"df3bf3cf.235d2","type":"ui_numeric","z":"b9efcc25.00fda","name":"Kp","label":"HMI: Kp","tooltip":"","group":"c45a83a3.d00908","order":19,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":"0.1","x":430,"y":400,"wires":[["11767b2f.a8e9d5"]]},{"id":"d14cedb7.4a6a7","type":"ui_numeric","z":"b9efcc25.00fda","name":"Ti","label":"HMI: Ti","tooltip":"","group":"c45a83a3.d00908","order":20,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":"0.1","x":430,"y":460,"wires":[["3e817e0b.a50552"]]},{"id":"d3ed59ac.834b68","type":"ui_numeric","z":"b9efcc25.00fda","name":"Td","label":"HMI: Td","tooltip":"","group":"c45a83a3.d00908","order":21,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":"0.1","x":430,"y":520,"wires":[["2d5f71c5.d4013e"]]},{"id":"81962561.0e5ee8","type":"ui_gauge","z":"b9efcc25.00fda","name":"Frecuencia Variador","group":"c45a83a3.d00908","order":12,"width":12,"height":5,"gtype":"gage","title":"Frecuencia","label":"units","format":"{{value | number:2}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":280,"wires":[]},{"id":"d9db1856.e51eb8","type":"ui_gauge","z":"b9efcc25.00fda","name":"Nivel","group":"c45a83a3.d00908","order":4,"width":12,"height":5,"gtype":"wave","title":"Nivel","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":80,"wires":[]},{"id":"9c4de26e.94f7b","type":"ui_chart","z":"b9efcc25.00fda","name":"PV","group":"c45a83a3.d00908","order":2,"width":15,"height":12,"label":"Nivel (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1460,"y":120,"wires":[[]]},{"id":"b2e62391.8d116","type":"ui_chart","z":"b9efcc25.00fda","name":"Error","group":"c339d380.36b31","order":5,"width":14,"height":6,"label":"Error","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#cc0f0f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1470,"y":200,"wires":[[]]},{"id":"b775f604.927808","type":"function","z":"b9efcc25.00fda","name":"HMI: U","func":"msg.payload=msg.payload.U_1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":200,"wires":[["1c9db1eb.71883e"]]},{"id":"1c9db1eb.71883e","type":"ui_chart","z":"b9efcc25.00fda","name":"U","group":"c339d380.36b31","order":2,"width":14,"height":6,"label":"U","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#25e218","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1470,"y":240,"wires":[[]]},{"id":"50b96fdd.2a0a5","type":"ui_chart","z":"b9efcc25.00fda","name":"SP","group":"c339d380.36b31","order":4,"width":14,"height":6,"label":"SP","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#707703","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1470,"y":400,"wires":[[]]},{"id":"8ee9f594.5d9c78","type":"ui_chart","z":"b9efcc25.00fda","name":"PV","group":"c339d380.36b31","order":1,"width":14,"height":6,"label":"Nivel (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1470,"y":160,"wires":[[]]},{"id":"e9cb7da1.fe0cd","type":"function","z":"b9efcc25.00fda","name":"SP","func":"msg.payload=global.get('SP')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":400,"wires":[["50b96fdd.2a0a5"]]},{"id":"a4548307.12358","type":"ui_template","z":"b9efcc25.00fda","group":"ef26fcf099e82d9f","name":"Codigo Sinoptico","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/img/Sinoptico_Planta.PNG\");\n        background-repeat: no-repeat;\n        background-position: left bottom;\n        background-size: 102%;\n    }\n    \n    \n    #Sinoptico_Dummy_Sup{\n        background-color:#11111100;\n        border-style:none;\n    }\n    \n    #Sinoptico_Dummy_Izq{\n        background-color:#11111100;\n        border-style:none;\n    }\n    \n    #Sinoptico_Dummy_Der_Cent{\n        background-color:#11111100;\n        border-style:none;\n    }\n    \n    #Sinoptico_Dummy_Abj{\n        background-color:#11111100;\n        border-style:none;\n    }\n    \n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":320,"wires":[[]]},{"id":"5769e614.3896a8","type":"ui_gauge","z":"b9efcc25.00fda","name":"Nivel","group":"4a57bec7.eddeb","order":4,"width":"5","height":5,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":40,"wires":[]},{"id":"f95470a9.1057a","type":"ui_text","z":"b9efcc25.00fda","group":"201803b1.8e05bc","order":0,"width":"1","height":"1","name":"Frecuencia","label":"","format":"{{msg.payload | limitTo: 4}}","layout":"col-center","x":1510,"y":320,"wires":[]},{"id":"cf1a05d0.d77588","type":"ui_template","z":"b9efcc25.00fda","group":"b42ff012.0d725","name":"Codigo Inicio","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/img/inicio.png\");\n        background-repeat: no-repeat;\n        background-position: left bottom;\n        background-size: 102%;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":400,"wires":[[]]},{"id":"53a7d83f.5e7f08","type":"ui_template","z":"b9efcc25.00fda","group":"cc4b0bcb.855c78","name":"Codigo comun","order":0,"width":0,"height":0,"format":"<style>\n.md-toolbar-tools{\n        background-image: url(\"/img/UDC.png\");\n        background-repeat: no-repeat;\n        margin-left: 60px;\n        margin-left: 0px;\n        background-size: 100px 50px;\n        background-position: 1410px;\n    }\n<style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":140,"y":480,"wires":[[]]},{"id":"c45a83a3.d00908","type":"ui_group","name":"Main","tab":"80cd4062.93a5","order":1,"disp":true,"width":28,"collapse":false},{"id":"c339d380.36b31","type":"ui_group","name":"Graphics","tab":"a76450fd.d233","order":1,"disp":true,"width":28,"collapse":false},{"id":"ef26fcf099e82d9f","type":"ui_group","name":"Template","tab":"f0b5d528.f77528","order":1,"disp":false,"width":"28","collapse":false},{"id":"4a57bec7.eddeb","type":"ui_group","name":"Group_Nivel","tab":"f0b5d528.f77528","order":4,"disp":false,"width":"5","collapse":false},{"id":"201803b1.8e05bc","type":"ui_group","name":"Group_Numeric","tab":"f0b5d528.f77528","order":7,"disp":false,"width":"1","collapse":false},{"id":"b42ff012.0d725","type":"ui_group","name":"Template","tab":"3041006c.baa29","order":1,"disp":false,"width":"28","collapse":false},{"id":"cc4b0bcb.855c78","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"22","collapse":false},{"id":"80cd4062.93a5","type":"ui_tab","name":"Ajustes","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"a76450fd.d233","type":"ui_tab","name":"Gráficos","icon":"show_chart","order":4,"disabled":false,"hidden":false},{"id":"f0b5d528.f77528","type":"ui_tab","name":"Sinoptico","icon":"wallpaper","order":2,"disabled":false,"hidden":false},{"id":"3041006c.baa29","type":"ui_tab","name":"Inicio","icon":"home","order":1,"disabled":false,"hidden":false}]